<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="rpd-file" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/HORIZONT/RPD/rpd.presentation.log"
            layout="${longdate} ${message} ${exception:format=tostring}"/>
    <target name="debugger" xsi:type="Debugger" layout="${logger}::${message}"/>
  </targets>

  <rules>
    <logger name="*" writeTo="rpd-file" />
  </rules>
</nlog>